  #header {
    position: relative;
    width: 100%;
    height: 5%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22;
    font-weight: bold;
    /* border: 1px solid #000000; */
  }
  #container {
    position: relative;    
    width: 100%;
    height: 80%;
    margin: auto;
    /* border: 1px solid #000000; */
  }
  #footer {
    position: relative;
    width: 100%;
    height: 5%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid #000000; */
  }